<!doctype html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/zlatanize.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<title>Zlatanize me!</title>

<div class="container">
  <div class="jumbotron vertical-center">
    <div class="container text-center">
      <h1>(̿▀̿ ̿Ĺ̯̿̿▀̿ ̿)̄</h1>
      <div class="row">
        <div class="col-md-12">
          <input type="text" id="txtSearch" onkeydown="if(event.keyCode == 13) document.getElementById('btnSearch').click()"></input>
          <br/>
          <a href="#" id="btnSearch" class="btn-primary btn h2 lightBlue get-Started-btn" onclick="window.location='/?q=' + $(txtSearch).val()">Zlatanize me!</a>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
